.home-cover {
    position: relative;
    min-height: 90vh;
    min-height: 90svh;
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 3;
}

.home-cover .cover-text {
    width: 50%;
}

.home-cover h1 {
    font-size: 72px;
}
.home-cover p {
    font-size: 32px;
    color: rgb(117, 117, 117)
}

.home-cover .cover-img {
    width: 40%;
}

.decor.bottom.left, .decor.middle.left {
    position: absolute;
    height: 120px;
    bottom: 0;
    left: 0;
}
.decor.middle.left {
    bottom: none;
    top: 40px
}

.decor.top.right {
    position: absolute;
    height: 120px;
    top: 0;
    right: 0;
    rotate: 180deg;
}
.decor.middle.right {
    position: absolute;
    height: 120px;
    rotate: 180deg;
    bottom: 40px;
    right: 0;
}

.filters-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-6);
    height: 120px;
    border-bottom: 2px solid var(--color-3);
    z-index: 2;
    padding: 12px;
}

.filter-group {
    display: flex;
    justify-content: center;
    gap: 8px;
    font-size: 18px;
}

.filters-section input {
    border-radius: 8px;
    border: 1px solid var(--grey-2)
}

#price-label {
    margin-left: 8px;
}

#price-min, #price-max {
    width: 80px
}

.products-main {
    background-color: var(--grey-5);
    background-image: url("../../../assets/tile.png");
    background-size: 50px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 48px;
    gap: 24px;
}

.cart-interactive-section {
    display: flex;
    width: 450px;
    min-width: 360px;
}

.interactive-cart {
    position: fixed;
    top: 50%;
    translate: 0px -40%;
    left: 80px;
    height: 500px;
    width: auto;
    z-index: 0;
    cursor: pointer;
    transition: rotate 300ms;
    animation: shake 0.2s forwards linear infinite;
    animation-play-state: paused;
}
.interactive-cart .cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    height: 100%;
}
.interactive-cart .cart .cart-mini-grid {
    width: 70%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
}
.cart-mini-grid .mini-item {
    width: 70px;
    height: 70px;
    padding: 8px;
    border-radius: 32px;
    background-color: white;
    object-fit: contain;
    position: relative;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5), 0px 0px 16px rgba(0, 0, 0, 0.3) inset;
}
.mini-item .count {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    background-color: var(--color-1);
    color: white;
    font-weight: bold;
}
.mini-item img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 100px;
}
.interactive-cart .cart img {
    object-fit: contain;
    height: 100%;
}
.interactive-cart.shake {
    animation-play-state: running;
    animation-duration: 0.2s;
}
.interactive-cart.shakeSlow {
    animation-play-state: running;
    animation-duration: 1s;
}

@keyframes shake {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(2deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-2deg);}
    100% {transform: rotate(0deg);}
}