<div class="home-container">
    <section class="home-cover">
        <img class="decor middle left" src="/assets/coverbg.png" alt="">
        <img class="decor bottom left" src="/assets/coverbg.png" alt="">
        <img class="decor top right" src="/assets/coverbg.png" alt="">
        <img class="decor middle right" src="/assets/coverbg.png" alt="">
        <div class="cover-text">
            <h1>Shop the World, <br>One Click at a Time</h1>
            <p>Scroll down to enter the world of Gismos</p>
        </div>
        <img class="cover-img" src="/assets/bg.png" width="256" alt="">
    </section>
    <section class="filters-section">
      <div class="filter-group">
        <label for="brand">Filter by Brand:</label>
        <select id="brand-dropdown">
          <option value="brand1">HP</option>
          <option value="brand2">ASUS</option>
          <option value="brand2">Redgear</option>
          <option value="brand2">Sony</option>
          <option value="brand2">Logitech</option>
        </select>
        <label for="price" id="price-label">Filter by Price:</label>
        <input type="number" id="price-min" placeholder="Min">
        <input type="number" id="price-max" placeholder="Max">
      </div>
      <div class="filter-group">
        <label for="hello">Sort by</label>
        <select name="sort" id="sorting" (change)="sortTheProducts($event)">
          <option *ngFor="let mode of sortingModes; let i = index" [value]="i">{{mode.name}}</option>
        </select>
      </div>
    </section>
    <section class="products-main">
      <aside class="cart-interactive-section">
        <div #cartImage class="interactive-cart">
          <img src="/assets/cart.png" alt="Cart" (click)="toggleCartPreview()">
        </div>
      </aside>
      <div class="row products-grid">
        <div class="card-container" *ngFor="let product of productsCopy; let i = index" [id]="i"
        [class.pressed]="heldDownComponent == product">
          <div class="card">
            <img (click)="clickProduct(product)" [src]="product.photo" class="card-img-top" alt="Product Image" draggable="false">
            <div class="card-body">
              <h5 class="card-title" (click)="clickProduct(product)">{{ product.title }}</h5>
              <p class="card-price" (click)="clickProduct(product)">Rs.{{ product.price }}</p>
              <div class="buttons">
                <button id="but1" class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
                <button id="but2" class="btn btn-outline-secondary">Wishlist</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
  